Service.Client/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Verbose">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoutOmschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Verbose" nillable="true" type="tns:Verbose" />
  <xs:complexType name="Antwoord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tekst" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Antwoord" nillable="true" type="tns:Antwoord" />
</xs:schema>