Service.Client/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:www-infosupport-com:wcfdev:demo-service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:www-infosupport-com:wcfdev:demo-service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:www-infosupport-com:wcfdev:demo-service/Imports">
      <xsd:import schemaLocation="http://localhost:2520/Service1.svc?xsd=xsd0" namespace="urn:www-infosupport-com:wcfdev:demo-service" />
      <xsd:import schemaLocation="http://localhost:2520/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.DataContract" />
      <xsd:import schemaLocation="http://localhost:2520/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2520/Service1.svc?xsd=xsd3" namespace="urn:www-infosupport-com:wcf:centric-maatwerk-training:2015" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHello_GoodMorning_InputMessage">
    <wsdl:part name="parameters" element="tns:GoodMorning" />
  </wsdl:message>
  <wsdl:message name="IHello_GoodMorning_OutputMessage">
    <wsdl:part name="parameters" element="tns:GoodMorningResponse" />
  </wsdl:message>
  <wsdl:message name="IHello_ThisMorningIsNotSoGoodHereIsYourException_InputMessage">
    <wsdl:part name="parameters" element="tns:ThisMorningIsNotSoGoodHereIsYourException" />
  </wsdl:message>
  <wsdl:message name="IHello_ThisMorningIsNotSoGoodHereIsYourException_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThisMorningIsNotSoGoodHereIsYourExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="IHello_ThisMorningIsNotSoGoodHereIsYourException_VerboseFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Service.DataContract" name="detail" element="q1:Verbose" />
  </wsdl:message>
  <wsdl:message name="IHello_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IHello_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:portType name="IHello">
    <wsdl:operation name="GoodMorning">
      <wsdl:input wsaw:Action="urn:www-infosupport-com:wcfdev:demo-service/IHello/GoodMorning" message="tns:IHello_GoodMorning_InputMessage" />
      <wsdl:output wsaw:Action="urn:www-infosupport-com:wcfdev:demo-service/IHello/GoodMorningResponse" message="tns:IHello_GoodMorning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThisMorningIsNotSoGoodHereIsYourException">
      <wsdl:input wsaw:Action="urn:www-infosupport-com:wcfdev:demo-service/IHello/ThisMorningIsNotSoGoodHereIsYourException" message="tns:IHello_ThisMorningIsNotSoGoodHereIsYourException_InputMessage" />
      <wsdl:output wsaw:Action="urn:www-infosupport-com:wcfdev:demo-service/IHello/ThisMorningIsNotSoGoodHereIsYourExceptionResponse" message="tns:IHello_ThisMorningIsNotSoGoodHereIsYourException_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:www-infosupport-com:wcfdev:demo-service/IHello/ThisMorningIsNotSoGoodHereIsYourExceptionVerboseFault" name="VerboseFault" message="tns:IHello_ThisMorningIsNotSoGoodHereIsYourException_VerboseFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="urn:www-infosupport-com:wcfdev:demo-service/IHello/Send" message="tns:IHello_Send_InputMessage" />
      <wsdl:output wsaw:Action="urn:www-infosupport-com:wcfdev:demo-service/IHello/SendResponse" message="tns:IHello_Send_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>